name: Periodic Functional Tests

on: [ push, workflow_dispatch ]

jobs:
  run_tests:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4
      - name: Execute SSH commmands on remote server VCM
        run: |

          mkdir -p /home/runner/.ssh/
          echo "${{ secrets.SSH_KEY }}" > /home/runner/.ssh/github_actions
          chmod 0600 /home/runner/.ssh/github_actions
          ssh -vvv -i /home/runner/.ssh/github_actions -o KexAlgorithms=ecdh-sha2-nistp521 -o UserKnownHostsFile=/dev/null -o StrictHostKeyChecking=no root@130.198.103.76 'ls'